@namespace FileFlows.Client.Components.Common

@{
    var icon = Icon?.EmptyAsNull() ?? DefaultIcon;
}

@if (Unwrapped)
{
    @if (icon.StartsWith("svg:"))
    {
        <img loading="lazy" src="/icons/@(icon[4..]).svg"/>
    }
    else if (icon.StartsWith("data:") || icon.EndsWith(".svg"))
    {
        <img loading="lazy"  src="@icon"/>
    }
    else
    {
        var parts = icon.Split(':');
        if (parts.Length == 2)
        {
            <i class="@parts[0]" style="color:@parts[1]"></i>
        }
        else
        {
            <i class="@icon"></i>
        }
    }
    
}
else
{
    <span class="icon">

        @if (icon.StartsWith("svg:"))
        {
            <img loading="lazy" src="/icons/@(icon[4..]).svg"/>
        }
        else if (icon.StartsWith("data:") || icon.EndsWith(".svg") || icon.StartsWith('/') || icon.StartsWith("http:") || icon.StartsWith("https:"))
        {
            <img loading="lazy" src="@icon"/>
        }
        else
        {
            var parts = icon.Split(':');
            if (parts.Length == 2)
            {
                <i class="icon @parts[0]" style="color:@parts[1]"></i>
            }
            else
            {
                <i class="icon @icon"></i>
            }
        }
    </span>
}