@namespace FileFlows.Client.Components.Dialogs

<Modal @ref=Modal Title="@lblTitle" Visible="true" Styling="width: min(650px, 90vw);">

    <Body>
    <p>@lblDescription</p>
    <div class="dialog-fields">
        <InputSelect @bind-Value="@BoundFlowUid" AllowClear="false" Options=@FlowOptions Label="@lblFlow" />
        @if (NodeOptions.Count > 2)
        { // greater than 2, cos the first option is any, so if 2 theres really only one node in the system
            <InputSelect @bind-Value="@BoundNodeUid" AllowClear="false" Options=@NodeOptions Label="@lblNode"/>
        }
        <InputSelect @bind-Value="@BoundMode"    AllowClear="false" Options=@ModeOptions Label="@lblMode" />
    </div>

    <div class="add-dialog-tabs">
        <FlowTabs>
            <FlowTab Title="Files">

                @if (Mode == 0)
                {
                    <div class="list">
                        @for (int i = 0; i < Files.Count; i++)
                        {
                            int index = i;
                            var key = index + ":" + Files[index];
                            <div class="item" @key="@key">
                                <input type="text" @bind="Files[index]"/>
                                <button class="delete" @onclick="() => Remove(index)"><i class="fas fa-trash"></i></button>
                            </div>
                        }
                        <div class="item new-item">
                            <input type="text" @bind="NewItem" placeholder="Add new item"/>
                            <button class="btn browse" @onclick="() => Browse(-1)">...</button>
                            <button class="btn add" @onclick="Add"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                }
                else if(Mode == 1)
                {
                    <textarea @bind-value="TextList" @bind-value:event="oninput"></textarea>
                }
                else
                {
                    <div class="drop-area">
                        @if (file == null)
                        {
                            <p>@lblDropFile</p>
                        }
                        else
                        {
                            <p>@file.Name</p>
                        }
                        <Microsoft.AspNetCore.Components.Forms.InputFile @ref="FileInput" OnChange="FileChanged" />
                    </div>
                }
            </FlowTab>
            <FlowTab Title="Custom Variables">
                <InputKeyValue @bind-Value="CustomVariables" HideLabel="true"></InputKeyValue>
            </FlowTab>
        </FlowTabs>
    </div>
    </Body>
    <Footer>
        <button class="btn" @onclick=@Save disabled="@IsDisabled()">@lblAdd</button>
        <button class="btn" @onclick=@Cancel>@lblCancel</button>
    </Footer>
</Modal>