@namespace FileFlows.Client.Components.Inputs
@inherits Input<string>

<InputWrapper Input="@this" FlexGrow="@FlexGrow" >
    <div class="@(Field?.FlexGrow == true || FlexGrow ? "flex-grow" : "")">
        <textarea id=@Uid @bind-value="Value" @bind-value:event="oninput" 
            placeholder="@GetPlaceholder()" rows="@Rows" 
            readonly="@(ReadOnly ? "readonly" : null)"></textarea>
    </div>
</InputWrapper>
