@namespace FileFlows.Client.Components.Common
@typeparam TItem

<ul class="ul-radio-list">
    @foreach (var item in Items)
    {
        bool selected = item.Value.Equals(Value);
        bool licensed = LicensedFor(item.LicenseLevel);
        
        <li @onclick="() => Select(item)" class="clickable-radio @(selected ? "active" : "") @(licensed ? "licensed" : "un-licensed")"
            @ondblclick="() => DblClick(item)">
            <span class="icon">
                <TableItemIcon Icon="@item.Icon" Unwrapped="true"/>
            </span>
            <div class="info">
                <span>@item.RenderTitle</span>
                <p>@item.RenderDescription</p>
            </div>
            @if (item.ChildContent != null)
            {
                <div class="options">
                    @item.ChildContent
                </div>
            }
            @if (licensed == false)
            {
                <span class="license-level">
                    @GetLicenseTranslation(item.LicenseLevel)
                </span>
            }
        </li>
    }
</ul>

<CascadingValue IsFixed=true Value=this>
    @ChildContent
</CascadingValue>