@using FileFlows.Client.Helpers
@using Humanizer
@using FileSizeFormatter = FileFlows.Shared.Formatters.FileSizeFormatter
@namespace FileFlows.Client.Components.Widgets

<ContainerWidget Title="@lblTitle" Scroll="true">
    <Head>
        <OptionButtons @bind-Value="Mode">
            <WidgetOption Label="@lblMonth" Value="0" />
            <WidgetOption Label="@lblAll" Value="1" />
        </OptionButtons>
    </Head>
    <Body>
@foreach (var item in Data)
{
    var percent = (item.OriginalSize - item.FinalSize) * 100f / item.OriginalSize;
    var percentBackground = item.FinalSize * 100f / item.OriginalSize;
    var saved = FileSizeFormatter.Format(item.OriginalSize - item.FinalSize, 1);
    var storage = FileSizeFormatter.Format(item.FinalSize, 1) + " / " + FileSizeFormatter.Format(item.OriginalSize, 1);

    <div class="library-saving table-item" @key="item.Uid" @ondblclick="() => OpenFile(item)">
        <div class="savings-background" style="width:@(percentBackground)%"></div>
        <div class="savings-bar" style="width:@(percent)%"></div>
        <div class="library-saving-content">
            <span class="icon">
                @{
                    var path = item.DisplayName + (item.Extension == null ? ".folder" : item.Extension);
                    var icon = IconHelper.GetExtensionImage(path);
                }
                <img class="icon" src="@icon"/>
            </span>
            <div class="center">
                <span class="name path">@item.DisplayName</span>
                <div class="info">
                    <FlowIconValue Icon="node" Color="dark" Value="@item.NodeName"></FlowIconValue>
                    <FlowIconValue Icon="library" Color="dark" Value="@item.LibraryName"></FlowIconValue>
                    <FlowIconValue Icon="fas fa-hdd" Color="dark" Value="@storage"></FlowIconValue>
                </div>
            </div>

            <div class="right savings">
                <span class="top-right">@saved</span>
                <span class="time">@(DateTime.UtcNow.Subtract(item.Date).Humanize())</span>
            </div>
        </div>

    </div>
}
</Body>
</ContainerWidget>
