@namespace FileFlows.Client.Components.Dialogs

<Modal Title="@Title" Visible="true">

    <Body>
        <span>@Message</span>

        <div class="file-input">            
            <input type="text" readonly value="@FileName" />
            <label for="@Uid" class="btn">
                @lblBrowse
            </label>
        </div>
        <Microsoft.AspNetCore.Components.Forms.InputFile OnChange="LoadFile" id="@Uid" style="display:none" accept="@AcceptedTypes" />
    </Body>
    <Footer>
        <button class="btn" @onclick=@Accept disabled="@(HasFile ? null : "disabled")">@lblImport</button>
        <button class="btn" @onclick=@Cancel>@lblCancel</button>
    </Footer>
</Modal>