@namespace FileFlows.Client.Components.Dialogs

<Modal @ref=Modal Title="@lblTitle" Visible="true">
    <Body>
        <form>
            <div class="cp-input">
                <label>
                    <span>@lblOldPassword</span>
                    <input type="password" id="@txtOldPasswordUid" @bind-value="@oldPassword" disabled="@saving" @bind-value:event="oninput" @onkeydown="OnKeyDown" />
                </label>
            </div>
            <div class="cp-input">
                <label>
                    <span>@lblNewPassword</span>
                    <input type="password" @bind-value="@newPassword" disabled="@saving" @bind-value:event="oninput" @onkeydown="OnKeyDown"/>
                </label>
            </div>
            <div class="cp-input">
                <label>
                    <span>@lblNewPasswordConfirm</span>
                    <input type="password" @bind-value="@newPasswordConfirm" disabled="@saving" @bind-value:event="oninput" @onkeydown="OnKeyDown"/>
                </label>
            </div>
        </form>
    </Body>
    <Footer>
        <button class="btn" @onclick=@Save disabled="@saving">@lblSave</button>
        <button class="btn" @onclick=@Cancel disabled="@saving">@lblCancel</button>
    </Footer>
</Modal>