@namespace FileFlows.Client.Pages.Reseller
@inherits ListPage<Guid, ResellerFlow>

@page "/reseller/flows"


<PageView ClassName="flex" Title="@lblPageTitle">
    <Head>
    </Head>

    <Body>
        <FlowTable @ref="Table" Data="@Data" TItem="ResellerFlow" Selection="SelectionMode.Multiple"
            DoubleClick="@OnDoubleClick" TableIdentifier="Libraries" DisableColumn="(item) => !item.Enabled">
            <ToolBar>            
                <FlowTableButton Clicked=Add Icon="fas fa-plus" Label="Labels.Add" />
                <FlowTableButton Clicked=Edit SelectedOne="true" Icon="fas fa-edit" Label="Labels.Edit" />
                <FlowTableButton Clicked=Delete SelectedOneOrMore="true" Icon="fas fa-trash" Label="Labels.Delete" />
                @if (Profile != null && Profile.LicensedFor(LicenseFlags.Revisions) && Profile.HasRole(UserRole.Revisions))
                {
                    <FlowTableButton Clicked=Revisions SelectedOne="true" Icon="fas fa-history" Label="Labels.Revisions" />
                }
                @if (Profile != null && Profile.LicensedFor(LicenseFlags.Auditing) && Profile.HasRole(UserRole.Admin))
                {
                    <FlowTableButton Clicked=AuditLog SelectedOne="true" Icon="fas fa-clipboard-list" Label="Labels.Audit" />
                }
                <FlowTableButtonSeparator />
                <FlowTableHelpButton HelpUrl="reseller/flows" />
            </ToolBar>

            <Columns>
                <FlowTableColumn TItem="ResellerFlow" NoHeight="true">
                    <Header>
                        @Translater.Instant("Pages.Resellers.Flows.Title")
                    </Header>
                    <Cell Context="item">
                        <div class="table-item">
                            <span class="icon">
                                <TableItemIcon Icon="@item.Icon" />
                            </span>
                            <div class="center">
                                <span class="name">
                                    <span class="name">@item.Name</span>
                                    <span class="description">@item.Description</span>
                                </span>
                                <div class="info">
                                    @if (Profile.HasRole(UserRole.Flows))
                                    {
                                        <IconValue Icon="fas fa-sitemap" Color="IconValueColor.Blue"
                                                   Value="@item.Flow.Name" OnClick="() => OpenFlow(item.Flow?.Uid)"/>
                                    }
                                    else
                                    {
                                        <IconValue Icon="fas fa-sitemap" Color="IconValueColor.Blue"
                                                   Value="@item.Flow.Name" />
                                        
                                    }
                                </div>
                            </div>

                            <div class="right">
                                @if (item.Tokens > 0)
                                {
                                    <span class="top-right">
                                        <i class="fas fa-coins"></i>
                                        @item.Tokens
                                    </span>
                                }
                            </div>
                        </div>
                    </Cell>
                </FlowTableColumn>
            </Columns>
        </FlowTable>

    </Body>

</PageView>