@namespace FileFlows.Client.Pages
@using FileFlows.Shared.Models
@inherits ListPage<Guid, LibraryFileMinimal>


@page "/library-files"

<button class="btn btn-search non-mobile" @onclick=@Search>@lblSearch</button>

<LibraryFileTabs Selected="@SelectedStatus" OnStatusChanged="OnStatusChanged" />

<FlowTable @ref="Table" Data="@Data" TItem="LibraryFileMinimal" Selection="SelectionMode.Multiple"
       TableIdentifier=@TableIdentifier DoubleClick="@OnDoubleClick"
       ShowPager=@true TotalItems=@TotalItems OnPageChange=@PageChange
       OnFilter="OnFilter">
<ToolBar>
    @if (App.Instance.IsMobile == false)
    {
        <FlowTableButton Visible="@(SelectedStatus == FileStatus.Unprocessed)" Clicked=Add Icon="fas fa-plus" Label="Labels.Add"/>
    }
    <FlowTableButton Clicked=Edit SelectedOne="true" Icon="fas fa-file" Label="Labels.View"/>
    <FlowTableButton Visible="@(SelectedStatus == FileStatus.OutOfSchedule || SelectedStatus == FileStatus.Disabled)" Clicked=ForceProcessing SelectedOneOrMore="true" Icon="fas fa-redo" Label="Pages.LibraryFiles.Buttons.Process"/>
    <FlowTableButton Visible="@(SelectedStatus == FileStatus.Processing)" Clicked=Cancel SelectedOneOrMore="true" Icon="fas fa-window-close" Label="Labels.Cancel"/>
    <FlowTableButton Visible="@(SelectedStatus != FileStatus.Processing)" Clicked=Delete SelectedOneOrMore="true" Icon="fas fa-trash" Label="Labels.Remove"/>
    <FlowTableButton Visible="@(SelectedStatus != FileStatus.Processing)" Area="ButtonArea.ContextMenu" Clicked=DeleteFile SelectedOneOrMore="true" Icon="fas fa-trash" Label="Labels.Delete"/>
    <FlowTableButton Visible="@(SelectedStatus != FileStatus.Processing)" Area="ButtonArea.ContextMenu" Clicked=DownloadFile SelectedOne="true" Icon="fas fa-download" Label="Labels.Download"/>

    <FlowTableButtonSeparator Mobile="false" Visible="@(SelectedStatus == FileStatus.Unprocessed)"/>
    <FlowTableButton Visible="@(SelectedStatus == FileStatus.Unprocessed)" Clicked=MoveToTop SelectedOneOrMore="true" Icon="far fa-caret-square-up" Label="Pages.LibraryFiles.Buttons.MoveToTop"/>
    <FlowTableButton Mobile="false" Visible="@(SelectedStatus == FileStatus.Unprocessed)" Clicked=Rescan Icon="fas fa-search-plus" Label="Labels.Rescan"/>

    <FlowTableButtonSeparator Visible="@(SelectedStatus == FileStatus.Processed || SelectedStatus == FileStatus.ProcessingFailed)"/>
    <FlowTableButton Visible="@(SelectedStatus is FileStatus.Unprocessed or FileStatus.OnHold)" Clicked=Reprocess SelectedOneOrMore="true" Icon="fas fa-cogs" Label="Pages.LibraryFiles.Buttons.ProcessOptions"/>
    <FlowTableButton Visible="@(SelectedStatus is FileStatus.Processed or FileStatus.ProcessingFailed)" Clicked=Reprocess SelectedOneOrMore="true" Icon="fas fa-redo" Label="Pages.LibraryFiles.Buttons.Reprocess"/>

    <FlowTableButton Visible="@(SelectedStatus != FileStatus.Processing && SelectedStatus != FileStatus.Processed)" Area="ButtonArea.ContextMenu" Clicked="(() => SetStatus(FileStatus.Processed))" SelectedOneOrMore="true" Icon="far fa-check-circle" Label="Labels.SetStatusProcessed"/>

    <FlowTableButtonSeparator Visible="@(SelectedStatus == FileStatus.OnHold)"/>
    <FlowTableButton Visible=@(SelectedStatus == FileStatus.OnHold) Clicked=Unhold SelectedOneOrMore="true" Icon="fas fa-running" Label="Pages.LibraryFiles.Buttons.Unhold"/>
    <FlowTableButton Visible=@(SelectedStatus == FileStatus.Unprocessed) Area="ButtonArea.ContextMenu" Clicked=ToggleForce SelectedOneOrMore="true" Icon="fas fa-hammer" Label="Pages.LibraryFiles.Buttons.ToggleForce"/>

    <FlowTableButtonSeparator Mobile="false" />
    <FlowTableHelpButton Mobile="false" HelpUrl="overview/files"/>
</ToolBar>

<Columns>
    <FlowTableColumn TItem="LibraryFileMinimal" NoHeight="true">
        <Header>
            <div class="header">
                <span class="column-header"></span>
                <div class="filters">
                    @if (SelectedStatus is FileStatus.Processed)
                    {
                        <FlowDropDown Options="optionsSortBy" OnSelected="SelectSortBy" SelectedValue="@SelectedSortBy"
                                      Placeholder="@lblSortBy" PlaceholderIcon="fas fa-sort"/>
                    }
                    @if (optionsNodes?.Any() == true)
                    {
                        <FlowDropDown Options="optionsNodes" OnSelected="SelectNode" SelectedValue="@SelectedNode"
                                      Placeholder="@lblNode" PlaceholderIcon="fas fa-desktop"/>
                    }
                    @if (optionsFlows?.Any() == true)
                    {
                        <FlowDropDown Options="optionsFlows" OnSelected="SelectFlow" SelectedValue="@SelectedFlow"
                                      Placeholder="@lblFlow" PlaceholderIcon="fas fa-sitemap"/>
                    }
                    @if (optionsLibraries?.Any() == true)
                    {
                        <FlowDropDown Options="optionsLibraries" OnSelected="SelectLibrary" SelectedValue="@SelectedLibrary"
                                      Placeholder="@lblLibrary" PlaceholderIcon="fas fa-folder"/>
                    }
                    @if (optionsTags?.Any() == true)
                    {
                        <FlowDropDown Options="optionsTags" OnSelected="SelectTag" SelectedValue="@SelectedTag"
                                      Placeholder="@lblTag" PlaceholderIcon="fas fa-tag"/>
                    }
                </div>
            </div>
        </Header>
        <Cell Context="item">
            <FileItem Model="@item" InTable="true" @key="item.Uid" />
        </Cell>
    </FlowTableColumn>
</Columns>
</FlowTable>
