@namespace FileFlows.Client.Components.Common

<div class="icon-value @(Color.ToString().ToLowerInvariant()) @(OnClick != null ? "clickable" : "")" 
     @onclick="ClickPerformed" 
     title="@Tooltip">
    <i class="@Icon"></i>
    <span class="value">@Value</span>
</div>