@layout ConfigLayout

@namespace FileFlows.Client.Pages
@using FileFlows.Shared.Models
@inherits ListPage<Guid, Webhook>

@page "/config/webhooks"

<FlowTable @ref="Table" Data="@Data" TItem="Webhook" Selection="SelectionMode.Multiple"
           DoubleClick="@OnDoubleClick">
    <ToolBar>
        <FlowTableButton Clicked=Add Icon="fas fa-plus" Label="Labels.Add" />
        <FlowTableButton Clicked=Edit SelectedOne="true" Icon="fas fa-edit" Label="Labels.Edit" />
        <FlowTableButton Clicked=Delete SelectedOneOrMore="true" Icon="fas fa-trash" Label="Labels.Delete" />       
        @if (Profile != null && Profile.LicensedFor(LicenseFlags.Auditing) && Profile.HasRole(UserRole.Admin))
        {
            <FlowTableButtonSeparator />     
            <FlowTableButton Clicked=AuditLog SelectedOne="true" Icon="fas fa-clipboard-list" Label="Labels.Audit" />
        }
        <FlowTableButtonSeparator />           
        <FlowTableButton Clicked=Browser Icon="fas fa-code-branch" Label="Pages.Scripts.Buttons.ScriptBrowser"/>
        <FlowTableButtonSeparator />
        <FlowTableHelpButton HelpUrl="config/system/webhooks" />
    </ToolBar>

    <Columns>
        <FlowTableColumn TItem="Webhook" Width="14rem" MobileWidth="14rem">
            <Header>
                @Globals.lblName
            </Header>
            <Cell Context="item">
                <span>@item.Name</span>
            </Cell>
        </FlowTableColumn>
        <FlowTableColumn TItem="Webhook" MobileWidth="0" Width="8rem">
            <Header>
                @lblMethod
            </Header>
            <Cell Context="item">
                <span>@item.Method.ToString().ToUpper()</span>
            </Cell>
        </FlowTableColumn>
        <FlowTableColumn TItem="Webhook">
            <Header>
                @lblRoute
            </Header>
            <Cell Context="item">
                <span class="route icon-visible-hover">
                    <span>@(BaseRoute + item.Route)</span>
                    <i class="fas fa-copy" @onclick="() => CopyToClipboard(item)"></i>
                </span>
            </Cell>
        </FlowTableColumn>
    </Columns>
</FlowTable>

<RepositoryBrowser @ref="ScriptBrowser" Type="Script:Webhook" Icons="true" Icon="fas fa-scroll" />