@namespace FileFlows.Client.Pages

@page "/initial-config"
@using Humanizer

@layout EmptyLayout

<Editor @ref="Editor"></Editor>
@if (loaded == false || Editor == null)
{
    <div class="loading-background"></div>
}
else
{
    <div class="initial-config">
        <CascadingValue IsFixed="true" Value="Editor">
            <FlowWizard @ref="Wizard" FinishDisabled="@(EulaAccepted == false)" OnFinish="@Save">
                <FlowWizardPage Title="@lblWelcome" Description="@lblWelcomeDescription">

                    <div class="language-dropdown">
                        <InputDropDown @bind-Value="SelectedLanguage" Options="LanguageOptions" />
                    </div>

                    @if (onlyEula == false)
                    {
                        <div class="pre-text">@lblWelcomeMessage</div>
                    }
                    else
                    {
                        <div class="pre-text">@lblWelcomeMessageUpdate</div>
                    }
                </FlowWizardPage>
                <FlowWizardPage Title="@lblEula" NextDisabled="@(EulaAccepted == false)" Description="@lblEulaDescription">
                    <div class="eula-page">

                        <div class="eula">@msEula</div>

                        <div class="switch">
                            <FlowSwitch @bind-Value=@EulaAccepted/>
                            <span @onclick="ToggleEulaAccepted">@lblEulaAccept</span>
                        </div>
                    </div>
                </FlowWizardPage>
                @if (AvailablePlugins?.Any() == true)
                {
                    <FlowWizardPage Title="@lblPlugins" Disabled="@(EulaAccepted == false)"
                                    Description="@lblPluginsDescription">
                        
                        <FlowChecklist Items="Plugins" DefaultIcon="fas fa-puzzle-piece" />
                    </FlowWizardPage>
                }

                @if (Profile.ServerOS == OperatingSystemType.Docker && AvailableDockerMods?.Any() == true)
                {
                    <FlowWizardPage Title="@lblDockerMods" Disabled="@(EulaAccepted == false)"
                                    Description="@lblDockerModsDescription" OnPageAdvanced="OnDockerModPageAdvanced">
                        <FlowChecklist Items="DockerMods" DefaultIcon="fab fa-docker" />
                    </FlowWizardPage>
                }

                <FlowWizardPage Title="@lblRunners" Disabled="@(EulaAccepted == false)" Visible="(onlyEula == false)" Description="@lblRunnersDescription">

                    <div class="pre-text">
                        @lblRunnersTop
                    </div>

                    <div class="runners">
                        <InputNumber TItem="int" @bind-Value="Runners" Label="@lblRunners" Min="1" Max="100"/>
                    </div>
                </FlowWizardPage>
                <FlowWizardPage Title="@lblFinish" Disabled="@(EulaAccepted == false)" Visible="(onlyEula == false)" Description="@lblFinishDescription">

                    @lblFinishTop

                    <ol>
                        <li><span>@lblFinishCreateFirstFlow</span> @lblFinishCreateFirstFlowDescription</li>
                        <li><span>@lblFinishCreateALibrary</span> @lblFinishCreateALibraryDescription</li>
                    </ol>

                    @lblFinishBottom

                </FlowWizardPage>
            </FlowWizard>
        </CascadingValue>

    </div>
}

<FileFlows.Client.Components.Dialogs.MessageBox />