@using FileFlows.Client.Helpers
@namespace FileFlows.Client.Components.Widgets

@if (Runners is { Count: > 0 })
{
    foreach (var runner in Runners)
    {
    var overall = runner.TotalParts == 0 ? 100 : ((runner.CurrentPart / (double)runner.TotalParts)) * 100;
    var current = runner.CurrentPartPercent;
    var expandable = runner.FramesPerSecond > 0 || runner.Additional?.Any() == true;

    <div class="widget-runner table-item @(Minimal ? "minimal" : "") @(expandable ? "expanded" : "collapsed")" 
         @key="runner.Uid" @onclick="() => OpenRunner(runner)">
        <div class="current-progress" style="width:@(current)%"></div>
        <div class="overall-progress" style="width:@(overall)%"></div>
        <div class="runner-content">
            <div class="actions" @onclick:stopPropagation>
                <i class="fas fa-times-circle" @onclick="() => Cancel(runner)"></i>
            </div>
            <span class="icon">
                @if (runner.HasThumbnail)
                {
                    <img class="icon thumbnail" src="@IconHelper.GetThumbnail(runner.Uid,
                        runner.DisplayName + runner.Extension, runner.IsDirectory)"/>
                }
                else
                {
                    <img class="icon no-thumbnail" src="@IconHelper.GetExtensionImage(runner.IsDirectory ? "folder" : runner.RelativePath?.ToLowerInvariant())"/>
                }
            </span>
            <div class="center">
                <span class="name path">
                    @runner.DisplayName
                </span>
                <div class="info">
                    <div class="current-flow-element">
                        <FlowIconValue Icon="fas fa-puzzle-piece" Color="dark" Value="@runner.CurrentPartName" />
                    </div>
                    
                    <div class="others">
                        @if (string.IsNullOrEmpty(runner.NodeName) == false)
                        {
                            <FlowIconValue Icon="node" Color="dark" Value="@runner.NodeName" />
                        }
                        @if (string.IsNullOrEmpty(runner.LibraryName))
                        {
                            <FlowIconValue Icon="library" Color="dark" Value="@runner.LibraryName" />
                        }
                    </div>

                    @if (runner.Traits?.Any() == true)
                    {
                        <div class="traits">
                            @foreach (var trait in runner.Traits)
                            {
                                <span class="trait">@trait</span>
                            }
                        </div>
                    }
                </div>
            </div>

            <div class="right savings">
                @if (runner.Aborted)
                {
                    <span class="top-right aborting">@lblAborting</span>
                }
                else if(Minimal == false)
                {
                    <span class="top-right time">@runner.CurrentPartName</span>
                }
                <div class="steps">
                    @FormatProcessingTime(runner.ProcessingTime)
                </div>
            </div>
        </div>

        <div class="details">
            @if (runner.FramesPerSecond > 0)
            {
                <span class="label">FPS</span>
                <span class="value">@runner.FramesPerSecond</span>
            }
            @foreach (var additional in GetSortedAdditional(runner))
            {
                <span class="label">@additional[0]</span>
                <span class="value">@additional[1]</span>
            }
        </div>
    </div>
    }
}
else
{
    <div class="no-runners">
        <i class="fas fa-bed"></i>
        <span>@Translater.Instant("Pages.Dashboard.Widgets.Status.Idle")</span>
    </div>
}