@namespace FileFlows.Client.Components.Widgets

 <ContainerWidget Title="@lblTitle" Scroll="true">
    <Head>
        <OptionButtons @ref=OptionButtons @bind-Value="Mode">
            @* <WidgetOption Label="@lblRunners" Value="0" Icon="fas fa-running" /> *@
            <WidgetOption Label="@lblNodes" Value="1" Icon="fas fa-desktop" />
            @if (App.Instance.IsMobile == false)
            {
                <WidgetOption Label="@lblSavings" Value="2" Icon="fas fa-dollar-sign"/>
            }
        </OptionButtons>
    </Head>
    <Body>
    
    @* <div class="system-section runners @(Mode == 0 ? "active" : "")"> *@
    @*     <RunnersComponent NoneOnLoad="SelectNodes" /> *@
    @* </div> *@
    <div class="system-section nodes @(Mode == 1 ? "active" : "")">
        <NodeSummaryComponent />
    </div>
    @if (App.Instance.IsMobile == false)
    {
        <div class="system-section savings @(Mode == 2 ? "active" : "")">
            <LibrarySavingsComponent Mode="1"/>
        </div>
    }
    </Body>
</ContainerWidget>