@namespace FileFlows.Client.Components.Widgets

 <ContainerWidget Title="@lblTitle" Scroll="true">
    <Head>
        <OptionButtons @ref=OptionButtons @bind-Value="Mode">
            <WidgetOption Label="@lblNodes" Value="0" Icon="fas fa-desktop" />
            <WidgetOption Label="@lblSavings" Value="1" Icon="fas fa-dollar-sign"/>
        </OptionButtons>
    </Head>
    <Body>
        <div class="system-section nodes @(Mode == 0 ? "active" : "")">
            <NodeSummaryComponent />
        </div>
        <div class="system-section savings @(Mode == 1 ? "active" : "")">
            <LibrarySavingsComponent Mode="1"/>
        </div>
    </Body>
</ContainerWidget>