@namespace FileFlows.Client.Components.Dialogs.Wizards

@using InputText = FileFlows.Client.Components.Inputs.InputText
@inherits InputRegister

<Editor @ref="Editor"></Editor>
@if (Editor != null && initDone)
{
    <CascadingValue IsFixed="true" Value="Editor">
        <FlowWizard @ref=Wizard OnFinish="@Save" Modal="true" Cancelable="true" OnCancel="@Cancel">
            
            <FlowWizardPage Title="@lblGeneral" Description="@lblGeneralDescription" OnPageAdvanced="OnGeneralPageAdvanced">
                <InputText @bind-Value="@VideoFlowName" Label="Dialogs.NewVideoFlowWizard.Fields.Name" Validators=@RequiredValidator />

                <InputSelect @bind-Value="@BoundVideoContainer" AllowClear="false" Options=@VideoContainers Label="Dialogs.NewVideoFlowWizard.Fields.VideoContainer" />
                <InputSelect @bind-Value="@BoundVideoCodec" AllowClear="false" Options=@VideoCodecs Label="Dialogs.NewVideoFlowWizard.Fields.VideoCodec" />
                
                @if (string.IsNullOrWhiteSpace(VideoCodec) == false)
                {
                    <InputSwitch @bind-Value="@CropBlackBars" Label="Dialogs.NewVideoFlowWizard.Fields.CropBlackBars"/>
                }
            </FlowWizardPage>

            <FlowWizardPage Title="@lblPageType" Description="@lblPageTypeDescription">

                <ul class="ul-radio-list">
                    <li @onclick="() => SelectedType = 0" class="clickable-radio @(SelectedType == 0 ? "active" : "")">
                        <i class="fas fa-film"></i>
                        <div class="info">
                            <span>@lblTypeFilm</span>
                            <p>@lblTypeFilmDescription</p>
                        </div>
                    </li>
                    <li @onclick="() => SelectedType = 1" class="clickable-radio @(SelectedType == 1 ? "active" : "")">
                        <i class="fas fa-tv"></i>
                        <div class="info">
                            <span>@lblTypeTV</span>
                            <p>@lblTypeTVDescription</p>
                        </div>
                    </li>
                    <li @onclick="() => SelectedType = 2" class="clickable-radio @(SelectedType == 2 ? "active" : "")">
                        <i class="fas fa-video"></i>
                        <div class="info">
                            <span>@lblTypeVideo</span>
                            <p>@lblTypeVideoDescription</p>
                        </div>
                    </li>
                </ul>
            </FlowWizardPage>
            
            <FlowWizardPage Title="@lblPageVideo" Description="@lblPageVideoDescription" Visible="@(VideoCodec != string.Empty)">

                <ul class="ul-radio-list">
                    <li @onclick="() => SelectedVideoEncodingType = 0" class="clickable-radio @(SelectedVideoEncodingType == 0 ? "active" : "")">
                        <i class="fas fa-trophy"></i>
                        <div class="info">
                            <span>@lblQuality</span>
                            <p>@lblQualityDescription</p>
                        </div>
                        <div class="options">
                            <InputRadioGroup @bind-Value="Quality" TItem="Int32" HideLabel="true" Label="Dialogs.NewVideoFlowWizard.Fields.Quality" Options="QualityOptions" />
                        </div>
                    </li>
                    <li @onclick="() => SelectedVideoEncodingType = 1" class="clickable-radio @(SelectedVideoEncodingType == 1 ? "active" : "")">
                        <i class="fas fa-compact-disc"></i>
                        <div class="info">
                            <span>@lblBitrate</span>
                            <p>@lblBitrateDescription</p>
                        </div>
                        <div class="options">
                            <InputNumber TItem="int" HideLabel="true" Min="0" Max="1000000000" @bind-Value="Bitrate" Label="Dialogs.NewVideoFlowWizard.Fields.Bitrate"></InputNumber>
                        </div>
                    </li>
                </ul>
            </FlowWizardPage>

            <FlowWizardPage Title="@lblPageAudio" Description="@lblPageAudioDescription">

                <ul class="ul-radio-list">
                    <li @onclick="() => ConvertAudio = false" class="clickable-radio @(ConvertAudio == false ? "active" : "")">
                        <i class="fas fa-copy"></i>
                        <div class="info">
                            <span>@lblDontConvertAudio</span>
                            <p>@lblDontConvertAudioDescription</p>
                        </div>
                    </li>
                    <li @onclick="() => ConvertAudio = true" class="clickable-radio @(ConvertAudio ? "active" : "")">
                        <i class="fas fa-volume-up"></i>
                        <div class="info">
                            <span>@lblConvertAudio</span>
                            <p>@lblConvertAudioDescription</p>
                        </div>
                        <div class="options">
                            <InputSelect @bind-Value="@BoundDefaultLanguage" AllowClear="false" Options=@LanguageOptions Label="Dialogs.NewVideoFlowWizard.Fields.DefaultLanguage" />
                            <InputSwitch @bind-Value="TwoAudioVersions" Label="Dialogs.NewVideoFlowWizard.Fields.TwoAudioVersions" />
                        </div>
                    </li>
                </ul>
            </FlowWizardPage>
            
            <FlowWizardPage Title="@lblPageAudio1" Description="@lblPageAudio1Description" Indented="true" Visible="@ConvertAudio"  OnPageAdvanced="OnAudio1PageAdvanced" >
                <InputLanguages @bind-Value="@Audio1Languages" Label="Dialogs.NewVideoFlowWizard.Fields.AudioLanguages" Validators="RequiredValidator" />
                <InputSelect @bind-Value="@BoundAudio1Codec" AllowClear="false" Options=@AudioCodecs Label="Dialogs.NewVideoFlowWizard.Fields.AudioCodec" />
                <InputSelect @bind-Value="@BoundAudio1Channels" AllowClear="false" Options=@AudioChannels Label="Dialogs.NewVideoFlowWizard.Fields.AudioChannels" />
            </FlowWizardPage>
            <FlowWizardPage Title="@lblPageAudio2" Description="@lblPageAudio2Description" Indented="true" Visible="@(ConvertAudio && TwoAudioVersions)" OnPageAdvanced="OnAudio2PageAdvanced">
                <InputLanguages @bind-Value="@Audio2Languages" Label="Dialogs.NewVideoFlowWizard.Fields.AudioLanguages" Validators="RequiredValidator" />
                <InputSelect @bind-Value="@BoundAudio2Codec" AllowClear="false" Options=@AudioCodecs Label="Dialogs.NewVideoFlowWizard.Fields.AudioCodec"/>
                <InputSelect @bind-Value="@BoundAudio2Channels" AllowClear="false" Options=@AudioChannels Label="Dialogs.NewVideoFlowWizard.Fields.AudioChannels" />
            </FlowWizardPage>
            <FlowWizardPage Title="@lblPageSubtitle" Description="@lblPageSubtitleDescription">

                <ul class="ul-radio-list">
                    <li @onclick="() => SubtitleKeepOnly = false" class="clickable-radio @(SubtitleKeepOnly == false ? "active" : "")">
                        <i class="fas fa-copy"></i>
                        <div class="info">
                            <span>@lblKeepAllSubtitles</span>
                            <p>@lblKeepAllSubtitlesDescription</p>
                        </div>
                    </li>
                    <li @onclick="() => SubtitleKeepOnly = true" class="clickable-radio @(SubtitleKeepOnly ? "active" : "")">
                        <i class="fas fa-comment-dots"></i>
                        <div class="info">
                            <span>@lblKeepOnlySpecifiedSubtitles</span>
                            <p>@lblKeepOnlySpecifiedSubtitlesDescription</p>
                        </div>
                        <div class="options">
                            <InputLanguages @bind-Value="@SubtitleLanguges" HideLabel="true" Label="Dialogs.NewVideoFlowWizard.Fields.SubtitleLanguages" Validators="RequiredValidator" />
                        </div>
                    </li>
                </ul>
            </FlowWizardPage>
            <FlowWizardPage Title="@lblPageOutput" Description="@lblPageOutputDescription">
                <ul class="ul-radio-list">
                    <li @onclick="() => ReplaceOriginal = true" class="clickable-radio @(ReplaceOriginal ? "active" : "")">
                        <i class="fas fa-file-import"></i>
                        <div class="info">
                            <span>@lblReplaceOriginal</span>
                            <p>@lblReplaceOriginalDescription</p>
                        </div>
                    </li>
                    <li @onclick="() => ReplaceOriginal = false" class="clickable-radio @(ReplaceOriginal == false ? "active" : "")">
                        <i class="fas fa-file-export"></i>
                        <div class="info">
                            <span>@lblSaveToFolder</span>
                            <p>@lblSaveToFolderDescription</p>
                        </div>
                        <div class="options">
                            @if (IsWindows)
                            {
                                <InputFile @bind-Value="@OutputPath" Label="Dialogs.NewVideoFlowWizard.Fields.OutputPathWindows" Validators=@RequiredValidator Directory=@true/>
                            }
                            else
                            {
                                <InputFile @bind-Value="@OutputPath" Label="Dialogs.NewVideoFlowWizard.Fields.OutputPath" Validators=@RequiredValidator Directory=@true/>
                            }
                            <InputSwitch @bind-Value="DeleteOld" Label="Dialogs.NewVideoFlowWizard.Fields.DeleteOld" />
                        </div>
                    </li>
                </ul>
            </FlowWizardPage>
        </FlowWizard>
    </CascadingValue>
}