@namespace FileFlows.Client.Components.Dialogs.Wizards

@using InputText = FileFlows.Client.Components.Inputs.InputText
@inherits InputRegister

<Editor @ref="Editor"></Editor>
@if (Editor != null && initDone)
{
    <CascadingValue IsFixed="true" Value="Editor">
        <FlowWizard @ref=Wizard OnFinish="@Save" Modal="true" Cancelable="true" OnCancel="@Cancel">

            <FlowWizardPage TLabel="Dialogs.NewComicFlowWizard.Pages.General" OnPageAdvanced="OnGeneralPageAdvanced">
                <InputText @bind-Value="@FlowName" Label="Dialogs.NewComicFlowWizard.Fields.Name" Validators=@RequiredValidator />
                <InputSwitch @bind-Value="@DeleteNonPageImages" Label="Dialogs.NewComicFlowWizard.Fields.DeleteNonPageImages" />
                
            </FlowWizardPage>
            
            <FlowWizardPage TLabel="Dialogs.NewComicFlowWizard.Pages.Format">

                <FlowRadioGroup TItem="bool" @bind-Value="Cbz" LabelPrefix="Dialogs.NewComicFlowWizard.Format">
                    <FlowRadioGroupItem TItem="bool" Value="true" Icon="fas fa-archive" TLabel="Cbz">
                        <InputSwitch @bind-Value="@EnsureTopDirectory" Label="Dialogs.NewComicFlowWizard.Fields.EnsureTopDirectory" />
                        <InputSelect @bind-Value="@BoundFormat" AllowClear="false" Options=@ImageFormats Label="Dialogs.NewComicFlowWizard.Fields.Format" />
                        @if (string.IsNullOrWhiteSpace(Format) == false)
                        {
                            <InputSlider @bind-Value="@Quality" Label="Dialogs.NewComicFlowWizard.Fields.Quality" Min="1" Max="100"/>
                        }
                    </FlowRadioGroupItem>
                    <FlowRadioGroupItem TItem="bool" Value="false" Icon="fas fa-file-pdf" TLabel="Pdf" />
                </FlowRadioGroup>
                
            </FlowWizardPage>
            
            <FlowWizardPage TLabel="Dialogs.NewFlowCommon.Pages.Output">

                <FlowRadioGroup TItem="bool" @bind-Value="ReplaceOriginal" LabelPrefix="Dialogs.NewFlowCommon.Output">
                    <FlowRadioGroupItem TItem="bool" Value="true" Icon="fas fa-file-import" TLabel="ReplaceOriginal" />
                    <FlowRadioGroupItem TItem="bool" Value="false" Icon="fas fa-file-export" TLabel="SaveToFolder">
                        <div class="options">
                            @if (IsWindows)
                            {
                                <InputFile @bind-Value="@OutputPath" Label="Dialogs.NewFlowCommon.Fields.OutputPathWindows" Validators=@RequiredValidator Directory=@true/>
                            }
                            else
                            {
                                <InputFile @bind-Value="@OutputPath" Label="Dialogs.NewFlowCommon.Fields.OutputPath" Validators=@RequiredValidator Directory=@true/>
                            }
                            <InputSwitch @bind-Value="DeleteOld" Label="Dialogs.NewFlowCommon.Fields.DeleteOld"/>
                        </div>
                    </FlowRadioGroupItem>
                </FlowRadioGroup>
            </FlowWizardPage>
        </FlowWizard>
    </CascadingValue>
}