@namespace FileFlows.Client.Pages
@page "/log"

<div class="log-view side-search-page">

    <div class="side-search">
        <div class="search-fields">
            <div class="search-field input">
                <div class="label">@lblSource</div>
                <div class="value">
                    <select @onchange="HandleSourceSelection">
                        @{
                            bool hasNodes = false;
                            foreach (var key in LoggingSources.Keys)
                            {
                                if (key.StartsWith("Node-"))
                                {
                                    hasNodes = true;
                                    continue;
                                }

                                <option selected="@(key == SelectedSource ? "selected" : null)" value="@key">@key</option>
                            }

                            if (hasNodes)
                            {
                                <optgroup label="@lblNodes">
                                    @foreach (var key in LoggingSources.Keys)
                                    {
                                        if (key.StartsWith("Node-") == false)
                                        {
                                            continue;
                                        }
                                        <option selected="@(key == SelectedSource ? "selected" : null)" value="@key">@key[5..]</option>
                                    }

                                </optgroup>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="search-field input">
                <div class="label">@lblFile</div>
                <div class="value">
                    <div class="select-button">
                        <select @onchange="HandleSelection">
                            @if (SelectedSource != null && LoggingSources.TryGetValue(SelectedSource, out var list))
                            {
                                foreach (var file in list)
                                {
                                    <option selected="@(file.FileName == SearchFile?.FileName == true ? "selected " : null)" value="@file.FileName">@file.ShortName</option>
                                }
                            }
                        </select>

                        <button @onclick="DownloadLog" title="@lblDownload">
                            <i class="fas fa-download" />
                        </button>

                    </div>
                </div>
            </div>
            <div class="search-field input">
                <div class="label">@lblSeverity</div>
                <div class="value">
                    <select @bind="SearchSeverity">
                        <option value=@LogType.Error>@lblError</option>
                        <option value=@LogType.Warning>@lblWarning</option>
                        <option value=@LogType.Info>@lblInfo</option>
                        <option value=@LogType.Debug>@lblDebug</option>
                    </select>
                </div>
            </div>
            <div class="search-field input include-higher">
                <div class="label">
                    <FlowSwitch @bind-Value=@SearchIncludeHigherSeverity/>
                    @lblIncludeHigherSeverity
                </div>
            </div>
            <div class="search-field input">
                <div class="label">@lblText</div>
                <div class="value">
                    <input type="text" @bind="SearchText">
                </div>
            </div>
        </div>

        <button class="btn" @onclick="Search">@lblSearch</button>
    </div>
    
    <div class="log html-log search-content">
        @if (HasError)
        {
            <div class="error-message">@ErrorMessage</div>
        }else if (FilteredLogEntries.Count == 0)
        {
            <div class="no-matching-data">@lblNoMatchingData</div>
        }
        else
        {
            <Virtualize Items="@FilteredLines" Context="logLine" OverscanCount="10">
                <div>@logLine</div>
            </Virtualize>
        }
    </div>

</div>