@namespace FileFlows.Client.Components

@{
    string? title = TabView ? null : string.IsNullOrEmpty(Title) == false ? Title : Menu?.Active?.Title;
}
<ViContainer Title="@title" Icon="@(TabView ? null : Icon?.EmptyAsNull() ?? Menu?.Active?.Icon)" FullWidth=@FullWidth Flex="Flex" 
             ClassName="@GetClassName()" PageView="true">
    
    <HeadLeft>
        
        @if (TabView)
        {
            <div class="flow-tab-buttons @(TitleOnlyOnActive ? "title-only-on-active" : string.Empty)">
                @foreach(var tab in Tabs)
                {
                    if (tab.Visible == false)
                    {
                        continue;
                    }
                    <button class="tab-button @(ActiveTab == tab ? "active" : "")" @onclick="() => SelectTab(tab)">
                        @if (string.IsNullOrEmpty(tab.Icon) == false)
                        {
                            <i class="@tab.Icon" />
                            @if (TitleOnlyOnActive == false || (ActiveTab == tab || TitleOnlyOnActive == false))
                            {
                                @tab.Title
                            }
                        }
                        else
                        {
                            @tab.Title
                        }
                    </button>
                }
            </div> 
        }
        @HeadLeft
    </HeadLeft>

    <Head>
        @Head
        
        @if (ConnectionLost)
        {
            <div class="connection-lost">
                <span class="fa-stack">
                  <i class="fas fa-plug fa-stack-1x"></i>
                  <i class="fas fa-slash fa-stack-1x"></i>
                </span>

                Disconnected
            </div>
        }
    </Head>

    <Body>
        @if (TabView)
        {
            <div class="flow-tabs-content">
                <CascadingValue IsFixed=true Value=this>
                    @Body
                </CascadingValue>

            </div>  
        }
        else
        {
            @Body
        }
    </Body>
</ViContainer>