@namespace FileFlows.Client.Components.Common

@if (Visible && Area != ButtonArea.ContextMenu)
{
    <button class="flowtable-button" @onclick="@OnClick" disabled="@(Enabled == false)">
        @if (HideLabel && string.IsNullOrWhiteSpace(Icon) == false)
        {
            <span class="icon @Icon" title="@Label"></span>
        }
        else
        {
            if (string.IsNullOrEmpty(Icon) == false)
            {
                <span class="icon @Icon"></span>
            }

            @Label
        }
    </button>
}