@layout ConfigLayout

@namespace FileFlows.Client.Pages.Config.Configuration.Settings
@inherits InputRegister

@page "/config/settings"

<PageView Title="@lblTitle" Icon="fas fa-cogs" FormPage="true">

    <Head>
        <button id="settings-save" class="btn" @onclick=@Save>
            @if(IsSaving)
            {
                @lblSaving
            }
            else
            {
                @lblSave
            }
        </button>

        <button @onclick=@OpenHelp  class="btn btn-help">
            @lblHelp
        </button>
    </Head>

    <Body>

        <InputDropDown CustomXID="Language" @bind-Value="@Language" Options=@LanguageOptions
                       Label="Pages.Settings.Fields.Language" AllowClear="false" />

        <hr />
        
        <InputSwitch @bind-Value="@Model.ScanWhenPaused" Label="Pages.Settings.Fields.ScanWhenPaused"/>
        <InputNumber TItem="int" @bind-Value="@Model.QueueCapacity" Label="Pages.Settings.Fields.QueueCapacity" Min="100" Max="1000" />
        <InputNumber TItem="int" @bind-Value="@Model.MaxPageSize" Label="Pages.Settings.Fields.MaxPageSize" Min="100" Max="1000" />

        <hr />
        <InputSwitch @bind-Value="@Model.KeepFailedFlowTempFiles" Label="Pages.Settings.Fields.KeepFailedFlowTempFiles"/>
        <InputSwitch @bind-Value="@Model.DontUseTempFilesWhenMovingOrCopying" Label="Pages.Settings.Fields.DontUseTempFilesWhenMovingOrCopying" Inverse="true"/>
        
        @if (Profile.ServerOS is OperatingSystemType.Docker)
        {
            <hr />
            <InputSwitch @bind-Value="@Model.DockerModsOnServer" Label="Pages.Settings.Fields.DockerModsOnServer"/>
        }
        @if (Model.IsLicensed)
        {
            <hr />
            <InputSwitch @bind-Value="@Model.DisableTelemetry" Inverse="@true" Label="Pages.Settings.Fields.Telemetry" OnChangedValue="OnTelemetryChange"/>
        }
    </Body>

</PageView>