@namespace FileFlows.Client.Components.Dialogs

<Modal Title="@Title" Visible="true">

    <Body>
    <span class="confirm-message">@Message</span>
    @if (ShowSwitch)
    {
        <div class="switch">
            <FlowSwitch @bind-Value=@SwitchState />
            <span>@SwitchMessage</span>
        </div>
    }
    </Body>
    <Footer>
        <button class="btn" id="@btnYesUid" @onclick=@Yes disabled="@(RequireSwitch && ShowSwitch && SwitchState == false)">@lblYes</button>
        <button class="btn" id="@btnNoUid" @onclick=@Cancel>@lblNo</button>
    </Footer>
</Modal>