@using FileFlows.Client.Helpers
@using Humanizer
@namespace FileFlows.Client.Components.Widgets

<ContainerWidget Title="@lblTitle" Scroll="true">
    <Head>
        <OptionButtons @ref=OptionButtons @bind-Value="FileMode">
            <WidgetOption Label="@lblProcessing" Value="@((int)FileStatus.Processing)" Icon="fas fa-running" Color="blue" />
            <WidgetOption Label="@lblUpcoming" Value="@((int)FileStatus.Unprocessed)" Icon="far fa-clock" Color="yellow" />
            <WidgetOption Label="@lblFinished" Value="@((int)FileStatus.Processed)" Icon="far fa-check-circle" Color="green" />
            <WidgetOption Label="@lblFailed" Value="@((int)FileStatus.ProcessingFailed)" Icon="far fa-times-circle" Color="red" />
        </OptionButtons>
    </Head>
    <Body>
    @if (SelectedStatus == FileStatus.Processing)
    {
        foreach (var file in Processing ?? [])
        {
            <FileItem Model="file" />
        }
    }
    else if (SelectedStatus == FileStatus.Unprocessed && UpcomingFiles.Count == 0)
    {
        <div class="no-files">
            <i class="fas fa-box-open"></i>
            <span>@lblNoUpcomingFiles</span>
        </div>
    }
    else
    {
        var (list, viewMore) = SelectedStatus switch
        {
            FileStatus.ProcessingFailed => (FailedFiles, TotalFailed > 50),
            FileStatus.Unprocessed => (UpcomingFiles, TotalUpcoming > 50),
            _ => (RecentlyFinished, TotalFinished > 50)
        };
        
        foreach (var file in list ?? [])
        {
            <FileItem Model="file" />
        }

        if (viewMore)
        {
            <a href="/library-files?status=@SelectedStatus" class="view-more ripple">
                <span>@lblViewMore</span>
            </a>
        }
    }

    </Body>
</ContainerWidget>
