@namespace FileFlows.Client.Components
@inherits EditorBase
@using FileFlows.Shared
@using FileFlows.Plugin;
@using Humanizer

@if (Visible)
{
    @if (FlowElementEditor)
    {
        <div class="flow-element-editor-overlay background-overlay"></div>
        <div class="flow-element-editor editor-wrapper @(Maximised ? "maximised" : "")">
            <div class="editor">
                <ViContainer Title="@Title" Icon="@Icon" FullWidth=@true AlwaysShowTitle=@true Maximise=true OnMaximised=@OnMaximised>
                    <Head>
                        <button x-uid="save" class="btn" @onclick=@Save>@(IsSaving ? lblSaving : lblSave)</button>
                        <button x-uid="cancel" class="btn" @onclick=@Cancel>@lblCancel</button>

                        @if (string.IsNullOrEmpty(HelpUrl) == false)
                        {
                            <button x-uid="help" class="btn" @onclick=@OpenHelp>@lblHelp</button>
                        }
                    </Head>

                    <Body>
                    <CascadingValue IsFixed="true" Value="this">
                        <div class="fields">
                            @FieldsFragment
                        </div>
                    </CascadingValue>
                    </Body>
                </ViContainer>
            </div>
        </div>
    }
    else
    {
        <div class="editor-wrapper @(HideFieldsScroller ? "hide-fields-scrollbar" : string.Empty)">
            <div class="background-overlay"></div>
            <div id=@Uid class="editor @(Maximised ? "maximised" : "") @(Large ? "large" : "") @(FullWidth ? "full-width" : "") @(TypeName?.Dehumanize()) @(ReadOnly ? "readonly" : "") buttons-@NumberOfButtons">

                <ViContainer Title="@Title" Icon="@Icon" FullWidth=@true AlwaysShowTitle=@true Maximise=true OnMaximised=@OnMaximised>

                    <Head>
                        @if (ShowDownload)
                        {
                            <button x-uid="download" class="btn" @onclick=@(() => DoDownload())>@lblDownloadButton</button>
                        }

                        @foreach (var btn in AdditionalButtons)
                        {
                            <button x-uid="@btn.Uid" class="btn" @onclick=@((e) => btn.Clicked(this, e))>@btn.Label</button>
                        }

                        @if (ReadOnly)
                        {
                            <button x-uid="cancel" class="btn" @onclick=@Cancel>@lblClose</button>
                        }
                        else
                        {
                            <button x-uid="save" class="btn" @onclick=@Save>@(IsSaving ? lblSaving : lblSave)</button>
                            <button x-uid="cancel" class="btn" @onclick=@Cancel>@lblCancel</button>
                        }

                        @if (string.IsNullOrEmpty(HelpUrl) == false)
                        {
                            <button x-uid="help" class="btn btn-help" @onclick=@OpenHelp>@lblHelp</button>
                        }
                    </Head>

                    <Body>
                    <CascadingValue IsFixed="true" Value="this">
                        <div class="fields">
                            @FieldsFragment
                        </div>
                    </CascadingValue>
                    </Body>
                </ViContainer>
            </div>

        </div>
    }
}