@namespace FileFlows.Client.Components.Inputs
@inherits Input<int>

<InputWrapper Input="@this">
    <div class="input-period-wrapper">
        <div class="period-minutes">
            <input id="@Uid" type="number" value="@Number" disabled="@(Disabled || ReadOnly ? string.Empty : null)" 
                @onchange="ChangeValue" placeholder="@Placeholder" min="1" @onkeydown="OnKeyDown" />
        </div>
        <div class="period-period">
            <select @onchange="PeriodSelectionChanged">
                @if (Seconds)
                {
                    <option selected="@(Period == SECONDS_SECOND)" value="@SECONDS_SECOND">Seconds</option>
                }
                <option selected="@(Period == SECONDS_MINUTE)" value="@SECONDS_MINUTE">Minutes</option>
                <option selected="@(Period == SECONDS_HOUR)" value="@SECONDS_HOUR">Hours</option>
                <option selected="@(Period == SECONDS_DAY)" value="@SECONDS_DAY">Days</option>
                @if (ShowWeeks)
                {
                    <option selected="@(Period == SECONDS_WEEK)" value="@SECONDS_WEEK">Weeks</option>
                }
            </select>
        </div>
    </div>
</InputWrapper>