@page "/"
@using FileFlows.Client.Components.Widgets

@namespace FileFlows.Client.Pages

@if (loaded)
{
    <CascadingValue Value="Profile" IsFixed="true">
        <PageView @ref="Tabs" TabView="true" TitleOnlyOnActive="App.Instance.IsSmallMobile" ClassName="dashboard-wrapper">
            <Body>
            @if (App.Instance.IsMobile)
            {
                <FlowTab Title="@lblDashboard" Icon="fas fa-chart-pie" ClassName="dashboard">
                    <ContainerWidget Title="@lblRunners" Scroll="true">
                        <Head>
                            <OptionButtons>
                                <WidgetOption Label="@PausedService.PausedLabel" Value="1"
                                              Icon="@(PausedService.IsPaused ? "fas fa-play" : "fas fa-pause")"
                                              OnClick="PausedService.Toggle"/>
                            </OptionButtons>
                        </Head>
                        <Body>
                        <RunnersComponent/>
                        </Body>
                    </ContainerWidget>
                    <FilesWidget/>
                </FlowTab>
                <FlowTab Title="@lblSavings" Icon="fas fa-dollar-sign">
                    <LibrarySavingsSummaryWidget/>
                    <LargestSavingsWidget/>
                </FlowTab>
                <FlowTab Title="@lblStatistics" Icon="fas fa-chart-bar" ClassName="statistics">
                    <FileOverviewWidget IsFilesProcessed="true"/>
                    <FileOverviewWidget IsFilesProcessed="false"/>
                    <CpuRamWidget/>
                </FlowTab>
            }
            else
            {
                <FlowTab Title="@lblDashboard" Icon="fas fa-chart-pie" ClassName="dashboard">
                    <div class="grid grid-4">
                        <FileOverviewWidget IsFilesProcessed="true"/>
                        <FileOverviewWidget IsFilesProcessed="false"/>
                        <CpuRamWidget/>
                        <StatusWidget OnUpdatesClicked="Status_OnUpdatesClicked"/>
                    </div>

                    <div class="grid grid-60-40 flex-grow">
                        <SystemWidget/>
                        <FilesWidget/>
                    </div>
                </FlowTab>
                <FlowTab Title="@lblSavings" Icon="fas fa-dollar-sign">
                    <div class="grid grid-60-40 flex-grow savings">
                        <LargestSavingsWidget/>
                        <LibrarySavingsSummaryWidget/>
                    </div>
                </FlowTab>
            }

            <FlowTab Title="@lblUpdates" Icon="fas fa-cloud-download-alt" Uid="updates" Visible="@(UpdateInfoData?.HasUpdates == true)">
                @if (UpdateInfoData.FileFlowsVersion != null && UpdateInfoData.HasExtensionUpdates)
                {
                    <div class="grid grid-60-40 flex-grow savings">
                        <FileFlowsUpdateWidget Data="UpdateInfoData" CanUpdate="@(Profile.LicensedFor(LicenseFlags.AutoUpdates))"/>
                        <ExtensionUpdatesWidget Data="UpdateInfoData" Profile="Profile"/>
                    </div>
                }
                else if (UpdateInfoData.FileFlowsVersion != null)
                {
                    <div class="grid flex-grow">
                        <FileFlowsUpdateWidget Data="UpdateInfoData" CanUpdate="@(Profile.LicensedFor(LicenseFlags.AutoUpdates))"/>
                    </div>
                }
                else if (UpdateInfoData.HasExtensionUpdates)
                {
                    <div class="grid flex-grow">
                        <ExtensionUpdatesWidget Data="UpdateInfoData" Profile="Profile"/>
                    </div>
                }

            </FlowTab>
            </Body>
        </PageView>
    </CascadingValue>
}