@namespace FileFlows.Client.Components

<div class="vi-container @(FullWidth ? "fullwidth" : "") @(Flex ? "flex" : "") @ClassName @(PageView ? "page-view" : "")">
    <div class="top-row  @(AlwaysShowTitle ? "show-title" : "")">
        <span class="title">
            @if (Maximise)
            {
                <i class="far fa-window-maximize" @onclick=@ToggleMaximise></i>
            }
            @if (string.IsNullOrEmpty(Icon) == false)
            {
                <span class="icon @Icon"></span>
            }
            @Title
            @HeadLeft
        </span>
        <span class="other">
            @Head
        </span>
    </div>

    <div class="content">
        @Body
    </div>
</div>