@namespace FileFlows.Client.Components.Dialogs

<Modal Title="@Title" Visible="true">

    <Body>
        <p>
            @Message
        </p>
    <select @bind="Value" id="@Uid">
        @{
            bool first = true;
        }
        @foreach (var dur in Durations)
        {
            <option value=@dur.Key selected="@first">@dur.Value</option>
            
            first = false;
        }
    </select>
    </Body>
    <Footer>
        <button class="btn" @onclick=@Accept>@lblOk</button>
        <button class="btn" @onclick=@Cancel>@lblCancel</button>
    </Footer>
</Modal>