@layout ConfigLayout

@namespace FileFlows.Client.Pages
@using FileFlows.Shared.Models
@using Humanizer
@inherits ListPage<Guid, DockerMod>

@page "/config/dockermods"

<PageView ClassName="flex" Title="@lblTitle" Icon="fab fa-docker">

    <Head>
    </Head>

    <Body>
        
        <FlowTable @ref="Table" Data="@Data" TItem="DockerMod" Selection="SelectionMode.Multiple"
            DoubleClick="@DoubleClick" TableIdentifier="DockerMods"  DisableColumn="(item) => !item.Enabled">
            <ToolBar>            
                <FlowTableButton Clicked=Add Icon="fas fa-plus" Label="Labels.Add" />
                <FlowTableButton Clicked=Edit SelectedOne="true" Icon="fas fa-edit" Label="Labels.Edit" />
                <FlowTableButton Clicked=Delete SelectedOneOrMore="true" Icon="fas fa-trash" Label="Labels.Delete" />
                <FlowTableButton Clicked=Export SelectedOne="true" Icon="fas fa-file-export" Label="Labels.Export" Area="ButtonArea.ContextMenu" />
                <FlowTableButtonSeparator />
                <FlowTableButton Clicked=MoveUp Icon="fas fa-arrow-up" Label="Pages.AccessControl.Buttons.MoveUp" SelectedOneOrMore="true" />
                <FlowTableButton Clicked=MoveDown Icon="fas fa-arrow-down" Label="Pages.AccessControl.Buttons.MoveDown" SelectedOneOrMore="true" />
                <FlowTableButtonSeparator />
                <FlowTableButton Clicked=OpenBrowser Icon="fas fa-code-branch" Label="Labels.Repository"/>
                <FlowTableButton Clicked=Update SelectedOneOrMore="true" Icon="fas fa-cloud-download-alt" Label="Labels.Update" />
                @if (Profile != null && Profile.LicensedFor(LicenseFlags.Auditing) && Profile.HasRole(UserRole.Admin))
                {  
                    <FlowTableButton Clicked=AuditLog SelectedOne="true" Icon="fas fa-clipboard-list" Label="Labels.Audit" />
                }
                <FlowTableButtonSeparator />               
                <FlowTableHelpButton HelpUrl="extensions/dockermods" />
            </ToolBar>

            <Columns>
                <FlowTableColumn TItem="DockerMod" NoHeight="true">
                    <Header>
                        @Globals.lblName
                    </Header>
                    <Cell Context="item">
                        <div class="table-item">
                            <TableItemIcon Icon="@item.Icon" DefaultIcon="fab fa-docker" />
                            <div class="center">
                                @{
                                    string key = item.Name.Replace(".", "").Replace("-", "").Dehumanize();
                                    string label = Translater.TranslateIfHasTranslation($"DockerMods.{key}.Label", item.Name);
                                    string description = Translater.TranslateIfHasTranslation($"DockerMods.{key}.Description", item.Description);
                                }
                                <span class="name"><span class="name-actual">@label</span></span>
                                <span class="description">@description</span>
                                <div class="info">
                                    @if (item.LatestRevision > item.Revision)
                                    {
                                        <IconValue Color="IconValueColor.Pink" OnClick="() => _ = Update(item.Uid)" 
                                                   Icon="fas fa-cloud-download-alt" Value="@item.LatestRevision.ToString()" />
                                    }
                                </div>
                            </div>
                            <div class="right">
                                @if (item.LatestRevision > item.Revision)
                                {
                                    <span class="top-right warning">@lblUpdateAvailable</span>
                                }
                                else
                                {
                                    <span class="top-right">@lblRevision: @item.Revision</span>
                                }
                                <FlowSwitch Value="@item.Enabled" ValueChanged="@(args => { item.Enabled = args; Enable(args, item); })"/>
                            </div>
                        </div>
                            
                    </Cell>
                </FlowTableColumn>
            </Columns>
        </FlowTable>
    </Body>

</PageView>

<RepositoryBrowser @ref="Browser" Type="DockerMod" Icons="true" Icon="fab fa-docker" />